@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
.App{
  overflow: hidden;
}

/* Add custom styles for the scroll wheel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #F8F8FB;
}

::-webkit-scrollbar-thumb {
  background-color: #A0AEC0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}

html, body, #root{
  font-family: 'League Spartan';
  min-height: 100%;
  height: auto;

  background-color: #F8F8FB;
}
@layer components{

  .textBodyVariant{
    @apply font-medium text-[13px] leading-[15px] tracking-[-0.25px];
    letter-spacing: -0.25px;
  }

  .textBody{
    @apply font-medium text-[13px] leading-[18px] tracking-[-0.1px];
  }
  .textSmVariant{
    @apply font-bold text-[15px] leading-[15px] tracking-[-0.25px];
  }

  .textSm{
    @apply font-medium text-[15px] leading-[24px] tracking-[-0.25px];

  }

  .textMd{
    @apply font-bold text-[24px] leading-[22px] tracking-[-0.75px];
  }

  .textLg{
    @apply font-bold text-[36px] leading-[33px] tracking-[-1px];
  }

  .w-inherit{
    width: inherit;
  }
}